# iOS CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/ios-migrating-from-1-2/ for more details
#
version: 2
jobs:
  build:

    # Specify the Xcode version to use
    macos:
      xcode: "9.2.0"

    steps:
      - checkout
      
      - run:
          name: Before Install
          command: |
            export LC_ALL=en_US.UTF-8
            export LANG=en_US.UTF-8
            echo -e "machine bitbucket.org\n  login fassko\n  password $CI_USER_PASSWORD" >> ~/.netrc 
          
      # Install CocoaPods
      - run:
          name: Fetch CocoaPods Specs
          command: |
            curl https://cocoapods-specs.circleci.com/fetch-cocoapods-repo-from-s3.sh | bash -s cf
      - run:
          name: Install CocoaPods
          command: pod install
          
      - run:
          name: Install
          command: |
            sudo gem install fastlane --no-doc
            sudo gem cleanup

      # Build the app and run tests
      - run:
          name: Build and run tests
          command: fastlane circleci
